.App {
  text-align: center;
  font-family: serif;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(40, 99, 7);
}

.App-link {
  color: #164e10;
}

.h1 {
  color:rgb(79, 160, 32)
}

.modal1 .modal-content {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 46, 21); 
  font-family: serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
